# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Janelle Szary

**Objectives:**
- Demonstrate markdown cells and code cells for Tools for Data Science course
- List popular languages for Data Science
- Show some arithmetic operations

Some of the popular languages that Data Scientists use are:

1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. numpy

| Data Science Tools |
| --- |
| Jupyter Notebook | 
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335